<div class="current-weather__widget">
	<img class="widget__weather-icon" src="./images/icon.png" alt="cloudy" width="42" height="22" />
	<h2 class="widget__city">{{data.name}}, {{data.sys.country}}</h2>
	<div class="temperature">
		<p class="temperature__current">{{data.main.temp}}&#176;</p>
		<p class="temperature__min">{{data.main.temp_min}}&#176;</p>
		<p class="temperature__max">{{data.main.temp_max}}&#176;</p>
	</div>
</div>
